.calculator {
	background: #c2c2c2;
	display: inline-block;
	max-width: 600px;
	border-radius: 40px;
	padding: 20px 25px;
	width: 100%;
}

.calculator .display {
	font-size: 3rem;
	background: #c8f7c5;
	line-height: 1;
	white-space: nowrap;
	padding: 15px 15px 0 15px;
	text-align: right;
	border-radius: 6px;
	height: 4rem;
	overflow-x: scroll;
}

@media(min-width: 400px) {
	.calculator .display {
		font-size: 5rem;
		height: 6rem;
	}
}

.calculator .buttons {
	margin: 15px 0;
	text-align: left;
}